:root {
  --lightBlue: #00b2fd;
  --lightGrey: #cccccc;
  --darkBlue: #20263d;
  --white: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: sans-serif;
}

a:link,
a:visited {
  text-decoration: none;
  color: var(--white);
}

.btn-blue {
  background-color: var(--lightBlue) !important; 
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 48px;
  padding-bottom: 54px;
  padding-left: 50px;
  padding-right: 96px;
  border-bottom: 1px solid var(--lightGrey);
}

header .logo-wrp {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: auto;
}

header .devider {
  height: 70px;
  border: 1px solid var(--lightGrey);
  margin-left: 29px;
  margin-right: 24px;
}

header img {
  height: 58px;
}

header span {
  font-family: sans-serif;
  font-size: 40px;
  color: var(--darkBlue);
  font-weight: bold;
  align-self: flex-end;
  margin-right: auto;
}

header .logout {
  color: var(--lightGrey);
  align-self: flex-end;
  border: none;
  background-color: var(--white);
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.user-data {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
}

.user-data .data-inputs {
  max-width: 680px;
  text-align: center;
}

.user-data .data-inputs p {
  color: #21273b;
  font-size: 25px;
  font-weight: bold;
}

.user-data .data-inputs input {
  border: none;
  outline: none;
  background-color: #edf2f6;
  border-radius: 6px;
  width: 339px;
  padding: 30px 0;
  margin-bottom: 30px;
  text-align: center;
  font-size: 30px;
}

.user-data .data-inputs button {
  margin-top: 90px;
  border: none;
  border-radius: 50px;
  background-color: #cbcbcb;
  color: var(--white);
  padding: 20px 60px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}
.user-data .data-inputs .user-id p {
  color: var(--darkBlue);
  font-size: 25px;
}
.user-data .data-inputs .user-id p span {
  color: var(--darkBlue);
  opacity: 0.7;
  font-size: 18px;
}

.user-data .data-inputs .user-id .front-id {
  background-image: url("/images/id-front.png");
  margin-right: 20px;
}
.user-data .data-inputs .user-id .back-id {
  background-image: url("/images/id-back.png");
}

.user-data .data-inputs .user-id .front-id,
.back-id {
  height: 166px;
  width: 260px;
  display: inline-block;
}
.user-data .data-inputs .user-id .front-id p,
.back-id p {
  height: 166px;
  width: 260px;
  margin: 0;
}
.user-data .data-inputs .user-id .back-id p.visible {
  display: none;
}
.user-data .data-inputs .user-id .front-id p.visible {
  display: none;
}
.user-data .data-inputs .user-id .front-id img,
.back-id img {
  max-width: 100%;
  height: auto;
  z-index: 9;
}
.user-data .data-inputs .user-id .front-id input,
.back-id input {
  outline: none;
}

.customer-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 240px 0;
}

.customer-wrapper .next-customer-btn {
  border: none;
  border-radius: 50px;
  background-color: var(--lightBlue);
  color: var(--white);
  font-size: 18px;
  font-weight: bold;
  padding: 20px 30px;
  margin-top: 80px;
  cursor: pointer;
}


.customer-wrapper .customer-info {
  
  max-width: 680px;
  text-align: center;
}

.customer-wrapper .customer-info .sms-sent {
  color: #21273b;
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 20px;
}

.customer-wrapper .customer-info .sms-receive-info {
  color: var(--darkBlue);
  font-size: 23px;
  margin: 0;
}
